/* @import '@fontsource/zilla-slab'; */
/* @import '@fontsource/inter'; */

@import 'tailwindcss';
@plugin "@tailwindcss/typography";

@theme {
  --font-logo: 'var(--font-zilla-slab)';
  --font-sans:
    var(--font-inter), ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --font-serif: ui-serif, Georgia, Cambria, 'Times New Roman', Times, serif;
  --font-mono:
    var(--font-plex-mono), ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, 'Liberation Mono', 'Courier New', monospace;
}
